@charset "utf-8";
.navbar-default .navbar-brand{color:#0081cc;}
.about-block {
	background-image: url(../images/about-bg.jpg);
	background-size:100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:black
}

.activity-block {
	background-image: url(../images/activity-bg.jpg);
	background-size:100% auto;
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}