/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 170px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 170px;
	background-color: #787878;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {  margin: 20px 0;}
.footer > .container {  padding-right: 15px;  padding-left: 15px;}
.footer .container .text-muted{color:white;}
@media only screen and (max-width: 720px) {
	body {margin-bottom: 200px;}
	.footer {height:200px;}
}